<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1 th:text="${cuerpo}"></h1>
    <p th:text="${saludo}"></p>
    <p th:text="holaa"></p>
    <h2 th:text="${hola}"></h2>
    <br />
    Nombre:
    <span th:text="${individuo.nombre}"> Muestra el nombre</span>
    <br />
    Apellido:
    <span th:text="${individuo.apellido}"> Muestra el apellido</span>
    <br />
    Telefono:
    <span th:text="${individuo.telefono}"> Muestra el telefono</span>
    <br />
    Edad:
    <span th:text="${individuo.edad}"> Muestra el edad</span>
    <br />
    Correo:
    <span th:text="${individuo.correo}"> Muestra el correo</span>
  </body>
</html>
